@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "../components/layout/styles/TopHeader.css";
@import "../components/layout/styles/BtmHeader.css";
@import "../components/layout/styles/Footer.css";

@theme {
    --color-main: #0A84FF;
    --color-p: #6B7280;
    --color-bg: #F5F7FA;
    --color-whitee: #FFFFFF;
    --color-heading: #111827;
    --color-border: #E5E7EB;
}

@layer base {
   *,
   *::before,
   *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   html {
     font-family: "Inter", "DM Sans", sans-serif;
     @apply w-full
   }
}

body {
    @apply bg-whitee;
}

img {
    @apply w-full;
}
@theme{
    --font-inter:"Inter", "DM Sans", sans-serif; 
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p, a {
    @apply font-inter

}
p{
    @apply text-p
}
a{
    text-decoration: none;
}
input, button, select, textarea{
    outline: none;
    border: none;
}
a{
    @apply no-underline text-heading;
}
.main-btn{
    padding: 10px 18px;
    text-decoration: capitalize;
    cursor: pointer;
    background: var(--color-main);
    color: var(--color-white);
    display: flex;
    gap:10px;
    align-items: center;
    transition: 0.3s;
    width: max-content;
}
.sec-btn{
    color: var(--color-main);
    border: 1px solid var(--color-main);
    padding: 10px 18px;
    transition: 0.3s;
    @apply flex items-center justify-evenly font-bold cursor-pointer

}
.sec-btn:active{
    scale: 1;
}
.main-btn:hover , .sec-btn:hover{
    scale: 1.1;
}
.main-btn:active{
    scale: 1;
    background: #446db8;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-main); /* gray-400 */
  border-radius: 8px;
}