.product-card {
    height: 330px;
    width: 250px;
    border: 2px solid var(--color-border);
    background: var(--color-whitee);
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease, scale 0.25s ease;
    cursor: pointer;
 }



/* IMAGE */
.product-card .img {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-card .img img {
    max-width: 70%;
    max-height: 100%;
    object-fit: contain;
}

/* CONTENT */
.product-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;

}

/* NAME */
.product-name {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
    line-height: 1.3;
    white-space: nowrap;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
}

/* RATING */
.product-rating {
    display: flex;
    font-size: 14px;
    color: #f5a623;
    margin-bottom: 10px;
}

/* PRICE */
.product-price {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.product-price .price {
    font-size: 16px;
    font-weight: 900;
    color: var(--color-main);
}

.product-price .discount {
  font-size: 16px;
  color: #888;
}
.product-card .img .icons{
    position: absolute;
    right: -50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 8px;
    transition: transform 0.25s ease;
}
.product-card .img .icons span{
    background: var(--color-gray-200);
    border-radius: 50%;
    padding: 6px;
    transition: transform 0.2s ease-in-out ;
}
.product-card .img .icons svg{
    fill: var(--color-main);
}
.icons span:hover{
    transform: scale(1.2);
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: -1px 0px 20px 6px rgba(0, 0, 0, 0.12);
    scale: 1.05;
    border-color: var(--color-main);
}
.product-card:hover .icons{
    transform: translateX(-50px);

}